@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    max-height: 100vh;
    background: rgb(35, 35, 37);
    overflow: hidden;
}

img{
    max-width: 100%;
    display: block;
}

.filmes{
    display: flex;
    flex-wrap: wrap;
    max-width: 800%;
    margin: 0 auto;
}

.filmes > div {
    position: relative;
    top: 200px;
    flex: 1 1 200px;
    margin: 10px;
}

#logo-2{
    position: relative;
    top: 20px;
    left: 20px;
    list-style-type: none;
}


#logo-2 h1{
    position: relative;
    color: rgb(145, 57, 57);
    top: 20px;
    left: 20px;
    list-style-type: none;
}



#menu-h {
    list-style: none;
    padding: 0;
}

#menu-h li {
    display: inline;
   
}

#menu-h li a {
    position: relative;
    display: inline;
    color: white;
    text-decoration: none;
    padding: 20px;
    justify-content: center;
    align-items: center;
    top: 210px;
    left: 100px;
   
}

.dropdown{
    position: relative;
    margin
}



.searchBox{
    position: relative;
    width: 60px;
    height: 50px;
    top: 120px;
    left: 600px;
}



.searchBox::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 63%;
    background: linear-gradient(#fff,#fff, #e3e3e3);
    z-index: 1;
    filter: blur(1px);
}


.searchBox::after{
    content: '';
    position: absolute;
    top: 0;
    left: 323px;
    right: 0;
    width: 10px;
    height: 63%;
    background: #9d9d9d;
    z-index: 1;
    filter: blur(1px);
}











.shadow {
    position: absolute;
    top: 0;
    left: -50px;
    width: calc(100% + 50px);
    height: 300px;
    background: linear-gradient(100deg, rgba(0, 0, 0, 0.1),
    transparent,transparent);
    transform-origin: top;
    transform: skew(45deg);
}

.shadow::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    
    z-index: 1;

}







.searchBox input {
    position: relative;
    border: none;
    padding: 5px 20px;
    outline: none;
    font-size: 15px;
    color: #555;
    background: linear-gradient(#dbdae1, #b0b8ca);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    20px 20px 15px rgba(0, 0, 0, 0.1),
    30px 30px 15px rgba(0, 0, 0, 0.1),
    inset 1px 1px 2px #fff
}

ion-icon
{
    position: absolute;
    right: 20px;
    top: 3px;
    left: 294px;
    color: #555;
    font-size: 1.5em;
    cursor: pointer;
}