@import url('https://fonts.googleapis.com/css? family=Poppins :200,300,400,500,600,700,800,900& display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#5e93f5, #548df5 25%,
    #fff 25%, #fff 100%);
}
.card
{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    top: 120px;
    left: 10%;
    display: flex;
    z-index: 0;
    
}
.card .details
{
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 125px;
    width: 0px;
    height: 100%;
    background: #4a75f3;
    transition: 0.3s;
}
img
{
    position: absolute;
    width: 125px;
    height: 150px;
    top: 140px;
    left: 10%;
    z-index: 1;
}
input:checked + .checkbox-wrapper .card .details 
{
    display: block;
    width: 125px;
}
.card .details p
{
    position: absolute;
    left: 10px;
    top: 5px;
    opacity: 0;
}
.card .details h6
{
    position: absolute;
    top: 40px;
    left: 3px;
    opacity: 0;
}
.card .details .block 
{
    list-style: none;
    position: absolute;
    top: 60px;
    left: 7px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    opacity: 0;
}

.card .details .block li a
{
    position: absolute;
    color: #fff;
    width: 20px;
    height: 20px;
    text-decoration: none;
    counter-reset: #ffff;
    border: 1px solid rgba(255, 255, 255, 0.76);
    justify-content: center;
    align-items: center;
}
.card .details .block span a
{
    position: absolute;
    top: 60px;
    padding: 5px 5px;
    font-size: 10px;
    text-decoration: none;
    color: #4a75f3;
    background: #fff;
    border-radius: 2px;
}
input:checked + .checkbox-wrapper  .block
{
    opacity: 1;
}
input:checked + .checkbox-wrapper  h6
{
    opacity: 1;
}
input:checked + .checkbox-wrapper  p
{
    opacity: 1;
}

