*{
    margin: 0;
    padding: 0;
}
body
{
    background: #252833;
}
@media (max-width: 600px) {
    iframe{
        width: 320px;
        height: 200px;
    }
}
@media (min-width: 600px) and (max-width: 1000px){
    iframe{
        width: 812px;
        height: 375px;
    }
}